@model Genre
@{
    ViewBag.Title = "Browse";
}
<h2>Browsing Genre:@Model.Name</h2>
<ul>
    @foreach (var item in Model.Albums)
    {
        <li>@Html.ActionLink(item.Title, "Details", "Store", new { id = item.Id }, null)</li>
    }
</ul>
